/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: var(--page_bg-gradient);
  background-attachment: fixed;
  background-size: cover;
  font-family: var(--font_main, sans-serif);
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-main, 410);
  min-inline-size: 375px;
  max-inline-size: 700px;
  min-block-size: 100dvb;
}

.header {
  inline-size: var(--blocks_width, clamp(375px, 100%, 700px));
  block-size: var(--header_height, clamp(327px, 100dvb, 368px));
  margin: 100px auto 98px;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 100%;
  block-size: 100%;
  font-family: var(--font_accent, sans-serif);
  text-align: center;
  background-color: var(--blocks_bg_color, rgba(255, 255, 255, 1));
  text-transform: uppercase;
  border: 2px solid var(--blocks_border_color, #000000)
}

.header_container h1 {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  margin-bottom: 20px;
}

.header_container h2 {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.main {
  background-color: var(--page_bg-color, rgba(255, 255, 255, 1));
  inline-size: var(--blocks_width, clamp(375px, 100%, 700px));
}

.article {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  background-color: var(--blocks_bg_color, rgba(255, 255, 255, 1));
  border: 2px solid var(--blocks_border_color, #000000);
  margin-bottom: 50px;
}

.article_title {
  margin: 4px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title, 715);
}

.article_image-container {
  position: relative;
  margin-bottom: 21px;
  inline-size: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-top: 2px solid var(--blocks_border_color, #000000);
  border-bottom: 2px solid var(--blocks_border_color, #000000);
}

.article_label {
  position: absolute;
  top: 25px;
  right: 25px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--font_accent, sans-serif);
  font-size: 14px;
  text-shadow: 
    -1px -1px 0 var(--label_color, #fff),
    1px -1px 0 var(--label_color, #fff),
    -1px 1px 0 var(--label_color, #fff),
    1px 1px 0 var(--label_color, #fff);
}

.button__text,
.save_button-icon {
  position: relative;
  z-index: 1;
  color: var(--diff_color, #fff);
  mix-blend-mode: difference;
}

@supports (-webkit-text-stroke: 1px var(--label_color, #fff)) or (text-stroke: 1px var(--label_color, #fff)) {
  
  .article_label {
    -webkit-text-stroke: 1px var(--label_color, #fff);
    text-stroke: 1px var(--label_color, #fff);
    text-shadow: none;
  }
}

.filter_contrast {
  filter: contrast(0.8);
}

.filter_grayscale {
  filter: grayscale(0.8);
}

.filter_saturate {
  filter: saturate(4);
}

.filter_hue {
  filter: hue-rotate(35deg);
}

.filter_invert {
  filter: invert(1);
}

.filter_sepia {
  filter: sepia(0.8);
}

.filter_blur {
  filter: blur(15px);
}

.filter_multiple {
  filter: brightness(0.8) opacity(0.8);
}

.article p {
  margin: 0 25px 25px;
  line-height: 1.17;
}

.card__buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin: 0 25px 25px auto;
}

.card__icon-button {
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 38px;
  inline-size: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent_color, #000000);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  background-color: transparent;
  border: 2px solid var(--blocks_border_color, #000000);
  font-family: var(--font_accent, sans-serif);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.9;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.save_button-container {
  padding-bottom: 100px;
}

.save_button {
  inline-size: 335px;
  block-size: 55px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: var(--font_accent, sans-serif);
  font-weight: 400;
  font-size: 14px;
  background-color: var(--button_bg_color, rgba(255, 255, 255, 1));
  border: 2px solid var(--blocks_border_color, #000000);
}

.save_button-icon {
  inline-size: 21px;
  block-size: 21px;
}

.dialog {
  padding: 30px 40px;
  background-color: var(--page_bg-color, #ffffff);
  border: 2px solid var(--blocks_border_color, #000000);
  color: var(--blocks_border_color, #000000);
  font-family: var(--font_accent, sans-serif);
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog_icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.dialog_content {
  inline-size: 261px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.5;
  gap: 20px;
}

.dialog__button {
  inline-size: 100%;
  block-size: 38px;
  line-height: 0.9;
  border: 2px solid var(--blocks_border_color, #000);
}

.card__like-button,
.save_button,
.dialog__button {
  position: relative;
  overflow: hidden;
  background-color: var(--page_bg-color, #fff);
  transition: box-shadow 0.3s ease;
}

.card__like-button:focus-visible,
.save_button:focus-visible,
.dialog__button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent_color, #000);
}

.card__like-button::before,
.save_button::before,
.dialog__button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--blocks_border_color, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save_button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}

/* сердце лайк */
.sparks {
  opacity: 0;
}

.heart {
  transform-origin: center;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}


@media (width <= 375px) {
  
  .header {
    margin: 100px auto 100px;
  }

  .save_button {
    inline-size: 306px;
    block-size: 84px;
    flex-direction: column;
  }

  .save_button-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    inline-size: 341px;
    padding: 30px 30px;
  }

}